<div class="row justify-content-center mt-2">
  <div class="col-md-6">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <!-- Book -->
      <div class="form-group">
        <label for="name">Book Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="book"
          required
        />
      </div>

      <!-- author -->
      <div class="form-group">
        <label for="name">Author</label>
        <input
          type="text"
          class="form-control"
          formControlName="author"
          required
        />
      </div>

      <!-- username -->
      <div class="form-group">
        <label for="name">User</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          required
        />
      </div>

      <!-- categories -->
      <div class="form-group">
        <label for="name">Category</label>
        <input
          type="text"
          class="form-control"
          formControlName="categories"
          required
        />
      </div>

      <br />
      <!-- Button -->
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
          Add Book
        </button>
      </div>
    </form>
  </div>
</div>
